.you-died-label {
	-fx-font-family: "Courier New";
	-fx-font-weight: bold;
	-fx-font-size: 72;
	-fx-text-fill: red;
}

.you-died-label .text {
	-fx-stroke: black;
	-fx-stroke-width: 1;
}

.death-replay {
	-fx-font-family: "Courier New";
	-fx-font-weight: bold;
	-fx-font-size: 60;
}

.death-home,
.death-replay {
	-fx-background-color: orange;
	-fx-background-radius: 12
}

.death-home:hover,
.death-replay:hover {
	-fx-background-color: #ffba66;
	-fx-background-radius: 12	
}

.pause-resume,
.pause-home {
	-fx-background-color: lightgrey;
	-fx-background-radius: 12;
}

.pause-resume:hover,
.pause-home:hover {
	-fx-background-color: #e6e6e6;
	-fx-background-radius: 12;
}